body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
}

a,
a:link,
a:visited {
  color: #219bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

code {
  font-family: monospace;
  background: #111;
  padding: 5px;
  border-radius: 5px;
}

.felix-section {
  display: flex;
  justify-content: flex-end;
}

.felix-container {
  display: block;
  position: relative;
  width: 256px;
  height: 336px;
}

.sprite {
  width: 256px;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
}

.felix {
  transform: rotate(-2deg);
}
.felix-container:hover .felix,
.felix-container:focus .felix {
  transform: rotate(2deg) translateY(-5px);
}

.shiny {
  transform: rotate(2deg);
}
.felix-container:hover .shiny,
.felix-container:focus .shiny {
  transform: rotate(-2deg) scale(1.1);
}

.s1 {
  transition-delay: 0.05s;
}

.s2 {
  transition-delay: 0.1s;
}

.s3 {
  transition-delay: 0.15s;
}

.s4 {
  transition-delay: 0.2s;
}
